.lander {
    background-image: url(https://bit.ly/2oDLynS);
    background-attachment: fixed;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 35vh;
}

.into {
    font-size: 3rem;
}

.bisha {
    padding-top: 15vh;
}

#about {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#services {
    background-image: url(https://bit.ly/2pkcqJX);
    height: 30vh;
    text-align: center;
    padding-top: 10vh;
    color: white;
}

#contacts {
    text-align: center;
    background-image: url(https://bit.ly/34lmyRu);
    /* background: transparent; */
}

#contacts form {
    background:transparent;
}

#us {
    padding-top: 6vh;
}

#portfolio {
    padding-top: 5vh;
    padding-bottom: 6vh;
    text-align:center;
}

footer {
    text-align: center;
}

footer img {
    padding: 1.2vh;
}

.cop {
    text-align: center;
}

#namee {
    background: transparent;
}

#email  {
    background: transparent;
}

#meso {
    background: transparent;
}

::placeholder {
    color: white;
}